Django>=5.2,<7.0
djangorestframework>=3.16,<4.0
django-cors-headers>=4.0,<5.0
django-admin-interface>=0.28
django-colorfield>=0.11
django-modeltranslation>=0.19
django-jalali>=7.0
django-phonenumber-field>=8.0
phonenumbers>=8.13
django-ckeditor>=6.7
django-safedelete>=1.4
PyJWT>=2.8,<3.0
requests>=2.31,<3.0
gunicorn>=22.0,<24.0
psycopg[binary]>=3.2,<4.0
redis>=5.0,<6.0
Pillow>=10.0
drf-spectacular==0.27.0
python-decouple==3.8
psycopg2-binary==2.9.9
djangorestframework-simplejwt>=5.3
bcrypt>=4.0
