{% extends "admin/change_list.html" %}
{% load i18n admin_urls static %}

{% block content_title %}
    <h1>{{ cl.opts.verbose_name_plural }}</h1>
{% endblock %}

{% block search %}
    {{ block.super }}
{% endblock %}

{% block date_hierarchy %}
    {{ block.super }}
{% endblock %}

{% block filters %}
    {{ block.super }}
{% endblock %}

{% block result_list %}
<div style="margin-bottom: 15px;">
    <a href="{% url 'admin:classroom_availability_bulk_create' %}" class="button default" style="background-color: #17a2b8;">
        <span style="margin-right: 5px;">➕</span> {% trans "افزودن گروهی" %}
    </a>
</div>
{{ block.super }}
{% endblock %}

{% block pagination %}
    {{ block.super }}
{% endblock %}
