{% extends "admin/change_list.html" %}
{% load i18n admin_urls static %}

{% block search %}
    {{ block.super }}
{% endblock %}

{% block result_list %}
    {% if cl.result_count %}
        <div style="margin-bottom: 20px;">
            <a href="{% url 'admin:classroom_availability_bulk_create' %}" class="button" style="background-color: #17a2b8; color: white; text-decoration: none; padding: 8px 15px; border-radius: 4px;">
                + {% trans "افزودن گروهی" %}
            </a>
        </div>
    {% endif %}
    {{ block.super }}
{% endblock %}
