HOST=127.0.0.1
PORT=3001
RTC_WS_PATH=/rtc/ws
PUBLIC_IP=185.243.48.5

RTC_JWT_SECRET=change-me
RTC_STUN_URLS=stun:smartinhub.ir:3478
RTC_TURN_URLS=turn:smartinhub.ir:3478?transport=udp,turn:smartinhub.ir:3478?transport=tcp
RTC_TURN_USERNAME=rtcuser
RTC_TURN_CREDENTIAL=rtcpass123
RTC_ICE_TRANSPORT_POLICY=all

RTC_MIN_PORT=40000
RTC_MAX_PORT=40100
MEDIASOUP_LOG_LEVEL=warn

DJANGO_INTERNAL_CALLBACK_URL=http://127.0.0.1:8000/api/internal/rtc-events
INTERNAL_CALLBACK_SECRET=change-me
